App {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.image-popup {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 2px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	color: white;
  }
  .image-popup>img {
	height: 30vw;
	border-radius: 10px;
  }
  
.text-container {
	height: 50vh;
	overflow-y: auto;
	background-color: #f8f7f4;
	margin: 10px 0px 10px 0px;
	border: 5px solid #0477ad;
	border-radius: 5px;
}

.text-list {
	padding: 20px 0;
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	list-style: none;
	padding-left: 0;
	flex-grow: 1;
	overflow: auto;
}

.text-message {
	display: flex;
	margin-top: 10px;
}


.text-message .current-user {
	flex-direction: row-reverse; 
}

.message-content {
	display: inline-block;
}

.current-user {
	justify-content: flex-end;
}

.text-message>.avatar {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	display: inline-block;
	margin: 0 10px -10px;
}

.message-content>.username {
	display: block;
	color: rgb(109, 109, 109);
	font-size: 14px;
	padding-bottom: 4px;
}

.message-content>.text {
	padding: 10px;
	max-width: 400px;
	margin: 0;
	border-radius: 12px;
	background-color: #0474ab;
	color: white;
	display: inline-block;
}

.current-user>.message-content .text {
	background-color: #f47c6d;
}

form {
	display: flex;
	width: 100%;
	justify-content: space-between;
	max-width: 900px;
	margin: 0 auto 40px;
}

input {
	padding: 5px;
	font-size: 16px;
	border-radius: 5px;
	border: 5px solid #0474ab;
	flex-grow: 1;
	background-color: #f5f5f5;
	
}

.card-small {
	max-width: 10em;
	margin: 0 auto;
}

.card-title {
	font-size: 0.8em
}

.page-footer {
	background-color: #2c2c2c;
	color: #f5f5f5;
}
  
  
